<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NgCurrencyFormatter</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="myDemoApp" ng-controller="ctrlDemo">
    <div class="container">

        <h1>ngCurrencyFormatter</h1>

        <h2>For Development with Bootstrap</h2>

        <h3>Scope Value</h3>

        <span ng-bind="price"></span>

        <h3>Angular Original Currency Filter</h3>

        <p>No symbol</p>

        <span ng-bind="price | currency:''"></span>

        <h3>ngCurrencyInputFormatter</h3>

        <p>The basic formatter for ng-Currency</p>

        <h4>With Decimals</h4>

        <input type="tel" ng-currency-input-formatter decimals="ngCurrencyFormatter.withDecimals" name="name" ng-model="price" />

        <h4>No Decimals</h4>

        <input type="tel" ng-currency-input-formatter decimals="ngCurrencyFormatter.noDecimals" name="name" ng-model="price" />

        <span ng-bind="price | currency"></span>

        <h3>ngCurrencyInput</h3>

        <h4>Default</h4>

        <p>This is the currency box with no options other than the amount.</p>

        <p>By default the control has no decimal places and no currency character</p>


        <ng-currency-input name="name" amount="price">
        </ng-currency-input>


        <h4>with Decimals</h4>

        <p>Decimals can be activated in the currncy control by adding "true" to a decimal attribute.</p>

        <ng-currency-input name="name" amount="price" decimals="ngCurrencyFormatter.withDecimals">
        </ng-currency-input>

        <h4>Adding Currency</h4>

        <h5>Pound</h5>

        <ng-currency-input name="name" amount="price" currency="ngCurrencyFormatter.pounds">
        </ng-currency-input>

        <h5>Dollars</h5>

        <ng-currency-input name="name" amount="price"  currency="ngCurrencyFormatter.dollars">
        </ng-currency-input>

        <h5>Euros</h5>

        <ng-currency-input name="name" amount="price"  currency="ngCurrencyFormatter.euro">
        </ng-currency-input>

        <h3>Currency Position</h3>

        <p>In some cultures the currency symbol is position on the right of the amount.</p>

        <ng-currency-input name="name" amount="price"  currencyright="ngCurrencyFormatter.currencyRight" currency="ngCurrencyFormatter.euro">
        </ng-currency-input>


    </div>
    <script src="js/api/angular.min.js"></script>
    <script src="../src/ngcurrencyformater.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>
