<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NgCurrencyFormatter</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/demo.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="myDemoApp" ng-controller="ctrlDemo">
    <div class="container">

        <h1>ngCurrencyFormatter</h1>

        <p>For Development with Bootstrap</p>

        <h2>Introduction</h2>

        <p>This is a module to add some directives to angular js for helping format currency fields. The module has a currency control that has the class attributes defiened by <a href="http://getbootstrap.com/" target="_blank">bootstrap</a>. The controls format the input element for the currency input and return an float.</p>

        <h2>Using in your application</h2>

        <p>To get ngCurrencyFormatter set up in you application download the latest version from github and add the <code>ngcurrencyformatter.min.js</code> to your application</p>

        <div class="highlight">
            <code>

                <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"angular.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span><br />
                <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"<b>ngcurrencyformatter.min.js</b>"</span><span class="nt">&gt;&lt;/script&gt;</span>

            </code>
        </div>

        <p>Reference the module in your application.</p>

        <div class="highlight">
            <code>
                angular.module('myDemoApp', [<b>'ngCurrencyFormatter'</b>])
            </code>
        </div>

        <p>Use it in your controller. Because there are only filters and directives you don't need to add any code to your controllers to use them.</p>

        <h2>Demo</h2>

        <h3>Scope value</h3>
        
        {{price}}



        <hr />

        <h3>ngCurrencyInputFormatter</h3>

        <p>The basic formatter for ng-Currency</p>




        <h4>With Decimals</h4>

        <div class="highlight">
            <code>
                &lt;input type="tel" ng-currency-input-formatter decimals="'true'" name="name" ng-model="price" /&gt;
            </code>
        </div>


        <input type="tel" ng-currency-input-formatter decimals="'true'" name="name" ng-model="price" />




        <h4>No Decimals</h4>

        <div class="highlight">
            <code>
                &lt;input type="tel" ng-currency-input-formatter decimals="'true'" name="name" ng-model="price" /&gt;
            </code>
        </div>

        <input type="tel" ng-currency-input-formatter name="name" ng-model="price" />



        <hr />

        <h3>ngCurrencyInput</h3>

        <h4>Default</h4>

        <p>This is the currency box with no options other than the amount.</p>

        <p>By default the control has no decimal places and no currency character</p>


        <div class="highlight">
            <code>
                &lt;ng-currency-input name=&quot;name&quot; amount=&quot;price&quot;&gt; &lt;/ng-currency-input&gt;
            </code>
        </div>


        <ng-currency-input name="name" amount="price">
        </ng-currency-input>


        <h4>with Decimals</h4>

        <p>Decimals can be activated in the currncy control by adding "true" to a decimal attribute.</p>

        <div class="highlight">
            <code>
                &lt;ng-currency-input name=&quot;name&quot; amount=&quot;price&quot; decimals=&quot;'true'&quot;&gt; &lt;/ng-currency-input&gt;
            </code>
        </div>

        <ng-currency-input name="name" amount="price" decimals="'true'">
        </ng-currency-input>

        <h4>Adding Currency</h4>

        <p>Currencies can be added by setting currency attribute to the currency required <code>currency="'&pound;'"</code></p>

        <em>Pound</em>

        <div class="highlight">
            <code>
                &lt;ng-currency-input name=&quot;name&quot; amount=&quot;price&quot; currency=&quot;'&pound;'&quot;&gt; &lt;/ng-currency-input&gt;
            </code>
        </div>

        <ng-currency-input name="name" amount="price" currency="'£'">
        </ng-currency-input>

        <em>Dollars</em>

        <div class="highlight">
            <code>
                &lt;ng-currency-input name=&quot;name&quot; amount=&quot;price&quot; currency=&quot;'$'&quot;&gt; &lt;/ng-currency-input&gt;
            </code>
        </div>

        <ng-currency-input name="name" amount="price" currency="'$'">
        </ng-currency-input>

        <em>Euros</em>


        <div class="highlight">
            <code>
                &lt;ng-currency-input name=&quot;name&quot; amount=&quot;price&quot; currency=&quot;'&euro;'&quot;&gt; &lt;/ng-currency-input&gt;
            </code>
        </div>

        <ng-currency-input name="name" amount="price" currency="'€'">
        </ng-currency-input>

        <h3>Currency Position</h3>

        <p>In some cultures the currency symbol is position on the right of the amount.</p>

        <p>This is enabled by setting the right positioning attribute to true <code>currencyright="'true'"</code></p>

        <div class="highlight">
            <code>
                &lt;ng-currency-input name=&quot;name&quot; amount=&quot;price&quot; currencyright=&quot;'true'&quot; currency=&quot;'&euro;'&quot;&gt; &lt;/ng-currency-input&gt;
            </code>
        </div>

        <ng-currency-input name="name" amount="price" currencyright="'true'" currency="'€'">
        </ng-currency-input>

        <hr />

        <h3>ngCurrencyInputFrequency</h3>

        <h4>Default</h4>

        <div class="highlight">
            <code>
                &lt;ng-currency-input-formatter  amount=&quot;price&quot; perday=&quot;frequency.perDay&quot;  permonth=&quot;frequency.perMonth&quot;  peryear=&quot;frequency.perYear&quot; frequency=&quot;frequency.frequency&quot;  currency=&quot;'$'&quot;&gt; &lt;/ng-currency-input-formatter&gt;
            </code>
        </div>


        <ng-currency-input-formatter amount="price" perday="frequency.perDay" frequency="frequency.frequency" currency="'$'" permonth="frequency.perMonth" peryear="frequency.perYear"></ng-currency-input-formatter>


        <table class="table">
            <tr>
                <th>Period</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>Per Day</td>
                <td ng-bind="frequency.perDay  | currency"></td>
            </tr>
            <tr>
                <td>Per Month</td>
                <td ng-bind="frequency.perMonth  | currency"></td>
            </tr>
            <tr>
                <td>Per Year</td>
                <td ng-bind="frequency.perYear | currency"></td>
            </tr>

        </table>
    </div>
    <script src="js/api/angular.min.js"></script>
    <script src="/ngcurrencyformatter.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>
